a {
    color: white;
    text-decoration: none;

    &:hover {
        text-decoration: none;

    }
}
.social-icon {
    width: 75px;
    height: auto;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}
#toTop {
    position: fixed;
    bottom: 50px;
    right: 20px;
    border-radius: 50% 50%;
    z-index: 2;

    a {
        border-radius: 50% 50%;

        img {
            border-radius: 50% 50%;
            background: rgba(255,255,255,0.5);
            border: 2px solid theme-color("secondary");;
            display: block;
            width: 50px;
            height: 50px;
            padding: 9px;
            @extend .transition;

            &:hover {
                background: rgba(255,255,255,1);
            }

        }
    }
}

#facebookLink, #instragramLink {
    margin: 5px;
            
    img {
        border-radius: 50% 50%;
        @extend .transition;
       
        &:hover {
            transform: scale(1.1);

        }
        
    }
}
#instragramLink {

    img {
        border-radius: 15px 15px;
    }
}