
.home {
  #contentHolder {
  
    #carouselIndicators {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    flex: 1;
    width: 100%;
    position: initial;
    display: hidden;
   

    .carousel-inner {
      flex-direction: column;
      align-content: stretch;
      flex: 1;
      height: 500px;
      background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0));
      margin-bottom: 20px;
      
    
      .carousel-item {
        padding: 20px;
        flex-direction: column;
        align-content: stretch;
        

        .bullet-point-holder {
          display: flex;

          }
        }
      }
      .carousel-control-next, .carousel-control-prev {

      }
      .page-header {
        border-bottom: 1px white solid;
        margin-bottom: 10px;

    
        h1 {
            font-size: 24px;
        }
      }

      .slider-page-link {
        
        a {
          background-color:  theme-color("primary");
          color: white;
          padding: 5px 50px;

          &:hover {
            background-color:  theme-color("secondary");
          }
        }
      }

      #mainFieldsContainer {

      }

      @include media-breakpoint-up(sm) { //   .carousel-inner
      }

      @include media-breakpoint-up(md) { //   .carousel-inner
      }
    }

    @include media-breakpoint-up(md) { // #carouselIndicators
    }
  }
  #carouselIndicatorHolder{
    width: 100%;
    margin-top: 20px;
    
    .carousel-indicators {
      display: flex; 
      flex-direction: row;
      background: rgba(0,0,0,0.5);
      border: 1px solid #fff;
      margin: 0px;
      position: initial;
      
      
      .carousel-indicator {
        background: theme-color("secondary");
        width: 96%;
        border: 1px solid #fff;
        text-align: center;
        margin: 5px 2%;
        @extend .box-shadow-primary;
        padding: 4px;
        @extend .transition;

        &:hover {
            background: theme-color("primary");
        }

        .carousel-icon-holder {
            img {
              font-size: 0.8rem;
            }
        }
      

        @include media-breakpoint-up(md) { // .carousel-indicator 
          width: 30%;
          height: 82px;
          margin: -28px 0 0;
        }

        @include media-breakpoint-up(xl) { // .carousel-indicator
        }
        
        img, p {
        }
        &:hover {
          cursor: pointer;
        }
        
      }
      .active {
        background: theme-color("primary");
      }

      @include media-breakpoint-up(md) { // .carousel-indicators
        flex-direction: row;
        justify-content: space-around;
        height: 70px;
      }
    }
  }
}

