// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}
input, optgroup, select, textarea, option, label {

}
input, textarea, optgroup, option, select {
  opacity: 0.7;
  width: 100%;
}
label {

}
#formContainer {
  background: rgba(255,255,255,0.5);
  padding: 0px;
  margin-top: 20px;

  @extend .col-lg-5;
  @extend .col-xl-4;
  
  @include media-breakpoint-up(lg) { 
    margin-top: 0px;
  }
}

#formHeader {
  text-align: center;
  background: theme-color("primary");
  padding: 10px;
  color: white;
  
  
  h2 {
    font-size: 1.7rem;
    font-weight: 100;  
  }
  h2:nth-of-type(1) {
    text-decoration: underline;
    font-weight: 600;  
  }
}
#formBody {
  padding: 20px;


}
form {
  display: flex;
  flex-direction: column;

  P {
    margin-bottom: 0px;
   

    label {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 0.8rem;
      color: black;
      margin-left: 0px;
      

      span:nth-child(1) {
        display: flex;
        justify-content: center;
        flex: 1;
        background: rgba(125,125,125,0.8);
        font-size: 14px;
        border: solid 1px rgba(125,125,125,1);
        opacity: 0.8;
        color: white;

        @include media-breakpoint-up(sm) { // label
          margin-right: 10px;
        }
      }
      span {
        display: flex;
        flex: 2;
        line-height: 24px;
      }

      @include media-breakpoint-up(sm) { // label
        flex-direction: row;
      }
    }
  }
}
#formBG {

}
#formImageBG {
  background: url("../images/S-Logo.png") no-repeat center; 
  background-size: cover;
}
.wpcf7-submit {
  background: theme-color("secondary");
  font-weight: 600;
  color: white;
  border: theme-color("primary") 1px solid;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  @extend .transition;

  &:hover {
    cursor: pointer;
    background: theme-color("primary");
    border: theme-color("secondary") 1px solid;
    opacity: 1;
  }
}
.wpcf7-form-control-wrap {
  width: 100%;
}
.wpcf7-textarea {
  
}
.your-message {
  display: block;
 }
 .div.wpcf7-response-output {
   margin: 0px;
 }