// Grid system
.container {
  width: 100%;

  @include media-breakpoint-up(sm) {
   
    max-width: 100%;
  }
  @include media-breakpoint-up(md) {
    max-width: 100%;
  }
  @include media-breakpoint-up(lg) {
    max-width: 1280px;
  }
  @include media-breakpoint-up(xl) {
  }
}
.home {
  .main {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 20px;
    padding-left: 0px;

    @include make-col-ready();

    @include media-breakpoint-up(md) {
     
    }

    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }
  }
}
.main {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 20px;

  @include make-col-ready();

  @include media-breakpoint-up(md) {
    margin-top: 50px;
    margin-bottom: 10px;
  }

  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }
}

#main-wrap {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 20px;

  @include media-breakpoint-up(md) {
    margin-top: -20px;
  }
}

.sidebar {
}


