
html, body {

    @include media-breakpoint-up(md) { 
        flex-direction: column;
    }
}
.hidden-md-up {
    @include media-breakpoint-up(md) {
        display: none;
    }
}
.blank-left, .blank-right{
    display: flex;
    align-content: stretch;
    flex: auto;
    
} 
.orange-bg {
     background-color: theme-color("primary");
}
.grey-bg {
    background-color: theme-color("secondary");
}
.page-template {
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p{
        color: white;
    }
    ul {
        li {
            list-style: none;
        }
    }

}
.box-shadow-primary {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}
.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
      
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: stretch;
    align-items: stretch;
  }
  
  // google maps

#map {
   padding: 20px 0px;

    #iframeHolder {
    overflow: hidden;
    width: 100%;
    margin-top: 20px;

        iframe {
            width: 100%;
            height: 650px;
        }
    }
}

.transition {
    transition: all 0.5s;
}

