#footer {


    .blank-left {
        background: theme-color("secondary");
    }
    .blank-right {
        background: theme-color("primary");

        @include media-breakpoint-up(md) { 
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        padding: 0px;

        @include media-breakpoint-up(md) { 
            flex-direction: row;
        }
        
    }

     a,  p {
         color: white;
         margin-bottom: 0;
        font-size: 1.1rem;
     }

    #footerSocial {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 100%;
        z-index: 1;

        @extend .grey-bg;

        .blank-top {
            flex: 1;
        }
       
        #social {
           display: flex;
           flex-direction: column;
           align-content: space-between;


            .social-left {
                display: flex;
                flex: 1;
                justify-content: center;
                flex-direction: column;

                #socialHolder,#cRightHolder {
                    display: flex;
                    flex: 1;
                    justify-content: center;

                    @include media-breakpoint-up(md) { // #social-left
                        justify-content: flex-start;
                    }
                }

                @include media-breakpoint-up(md) { // #social-left
                    flex-direction: column;
                    width: 100%;
                }
            }

           @include media-breakpoint-up(md) { // #social
                flex-direction: row;
                width: 100%;
            }
        }
        
       
       

        @include media-breakpoint-up(md) { // #footerSocial
            width: 100%;
            border-right: 5px white solid;
        }
    }
    #logoContainer {
        flex: 1;
        display: flex;
        justify-content: center;


        @include media-breakpoint-up(lg) { // #footerContact
            justify-content: flex-end;
        }
    }
    #footerContact {
        display: flex;
        flex-direction: column;
        align-content: stretch;
        padding: 10px;
        width: 100%;

       

        .blank-top {
            flex: 1;
        }
        .contact-holder {
            display: flex;
            align-content: center;
            flex-direction: column;

            .blank {
                flex: 1;
            }

            @include media-breakpoint-up(md) { // .contact-holder
                align-content: flex-end;
            }
        }
        #contactInfo {
            flex: 1;
            text-align: center;

            @include media-breakpoint-up(md) { // #contactInfo
                text-align: right;
            }
        }

        @include media-breakpoint-up(md) { // #footerContact
            
        }
    }
    .custom-logo-link {
        img {
            width: 175px;
            height: auto;
            background-color: white;
            border: 5px solid theme-color("secondary");
            @extend .box-shadow-primary; 
            
        }
    }
    
    @include media-breakpoint-up(md) { //   #footer
        display: flex;
        flex-direction: row;
        flex: 1;
    }
}