#header {

    display: flex;
    flex-direction: column;
  
    .blank-left {
        background: theme-color("primary");
    }
    .blank-right {
        background: theme-color("secondary");

        @include media-breakpoint-up(md) { 
            height: 80px;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        padding: 0px;

        @include media-breakpoint-up(md) { 
            flex-direction: row;
        }
        
    }

    #logoContainer {
        
        
        @extend .col-md-4;

        #logoHolder {
            display: flex;
            justify-content: center;
            margin: 10px;
           
            .custom-logo-link {
                height: auto;
                @extend .box-shadow-primary;
        
                .custom-logo {
                    width: 210px;
                    height: auto;
                    background-color: white;
                    border: 5px solid theme-color("secondary");
                    
                }
            }

            @include media-breakpoint-up(md) { // .custom-logo-link
                justify-content: flex-start;
            }
        }

        @include media-breakpoint-up(md) { // #logoHolder
            border-right: 5px white solid;
            height: 100px;
        }
    }
   
    @include media-breakpoint-up(md) {  // #header
        display: flex;
        flex-direction: row;
    }
}

