#mainNavContainer {


    @extend .col-lg-8;

    nav  {  
        display: flex;
        align-content: stretch;

        .menu-menu-1-container {
            display: flex;
            flex: 1;
            
            

            .main-menu {
                display: flex; 
                flex-direction: column;
                justify-content: space-around;
                flex: 1;
                padding: 0px;
                margin: 5px 0px;
                height: 150px;

                
                .menu-item {
                    display: flex;
                    justify-content: center;
                    align-items: stretch;
                    font-size: 1em;
                    background-color: theme-color("secondary");
                    @extend .box-shadow-primary;
                    @extend .transition;

                    &:hover {
                        background: theme-color("primary");
                    }


                    
        
                    a {
                        justify-content: center;
                        align-items: center;
                        display: flex; 
                        color: white;   
                        width: 100%;  
                        border: solid 1px white;   
                        height: 40px;
                        
                                
                        @include media-breakpoint-up(md) { 
                            height: auto;
                        }
                    }
        
                    @include media-breakpoint-up(md) { 
                        height: 65px;
                        width: 130px;
                        margin: 0% 1%;
                    }

                    @include media-breakpoint-up(lg) { 
                        
                    }
                }
            
                @include media-breakpoint-up(md) { 
                    flex-direction: row;
                    justify-content: flex-end;
                    margin: 15px 0;
                }
            }

            .current-menu-item  a {
                background-color: theme-color("primary");
            }

            @include media-breakpoint-up(lg) { 
                justify-content: center; 
            }
        }

        @include media-breakpoint-up(md) { 
            justify-content: center; 
        }
        @include media-breakpoint-up(md) { 
            height: 80px;
            margin-top: 10px
        }
    }

    @include media-breakpoint-up(md) { 
        height: 80px;       
    }
}


