#topContainer {
    background: url("../images/stock-photo-driving-down-the-street-in-car-on-a-sunny-beautiful-day-292880609.jpg"); 
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-content: center;
    
    @include media-breakpoint-up(md) { 
        margin-top: -20px;
        margin-bottom: -20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
.home {
    #contentHolder {
        display: none;

        @include media-breakpoint-up(sm) { // #contentHolder
            display: flex;
           
        }
    }
}
#contentHolder-xs {
    padding: 10px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0));

    @include media-breakpoint-up(sm) { // #contentHolder-xs
        display: none;
    }
}
#contentHolder {
    display: flex;
    flex-direction: column;
    padding: 0px;
    align-items: stretch;

    @extend .col-lg-7;
    @extend .col-xl-8;  
    
    #contentInner {
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0));
        padding: 10px;
        flex: 1;

        .page-header {
            border-bottom: 1px white solid;
            margin-bottom: 10px;
        
            h1 {
                font-size: 1rem;

                @include media-breakpoint-up(sm) { // h1
                    font-size: 1.4rem;
                }
            }
        }

        .indicatorControls {

        }

        @include media-breakpoint-up(sm) { // #contentInner
            padding: 20px;
        }
    }

    .slider-page-link {
        display: flex;
        justify-content: center;
        flex-grow: 1;
        align-items: stretch;
    }

    .bullet-point-holder {
        display: flex;

        .bullet-image {
            transform: rotate(-15deg);
            height: 25px;

            @include media-breakpoint-up(sm) { // .bullet-image
                font-size: 24px;
                height: 45px;
            }
        }

        p {
            color: white;
            font-size: 0.9rem;

            @include media-breakpoint-up(sm) { // p
                font-size: 1rem;
            }
        }
    }

    @include media-breakpoint-up(sm) { // #contentHolder
        display: flex;

    }

    @include media-breakpoint-up(lg) { // #contentHolder
        padding-right: 20px;
        padding-left: 0px;
    }
}
#mainFieldsContainer {
    padding: 0px;

    @include media-breakpoint-up(sm) { // #mainFieldsContainer
        padding: 10px 20px;
        min-height: 348px;
    }
}

