#pricesContainer {

    padding: 15px;

    &:nth-of-type(odd) {
        background: theme-color("secondary");
    }
    display: flex;
    flex-direction: column;
    align-items: center;


    .container {
        padding-bottom: 20px;

        .price-type-title{

        }
        .price-headers-md {
            display: none;
            
            @include media-breakpoint-up(md) { // .price-headers-md
                display: flex;
                margin: 10px;
            }

            .price-header-holder {
                display: flex;
                flex:5;
            }
        }
        .price-headers {
            display: flex;

            @include media-breakpoint-up(md) { // .price-headers
                display: none;
                
            }
        }
        .price-headers, .price-headers-md {
            justify-content: flex-end;

            .blank {
                flex: 7;
            }

            .price-header, .discount-header, .orginal-header{
                display: flex;
                align-content: center;
                justify-content: center;
                flex: 1;
                margin: 10px;


                p {
                    color: white;
                    margin: 0px;
                    font-weight: 700;
                    font-size: 1.2rem;
                    text-align: center;
                }

                @include media-breakpoint-up(md) { // .price-header, .discount-header, .orginal-header
                    flex: 5;
                }
            }

            @include media-breakpoint-up(md) { // .price-headers, .price-headers-md
            }
            
        }

        .price-type {

            .price-container {
                display: flex;
                flex-direction: column;
                min-height: 70px;    
                margin: 10px;    
                border-bottom: 1px solid white;     

                
               
                .package-desc {
                    display: flex;
                    align-items: center;
                    text-align: center;

                    p {
                        margin: 0px;
                    }

                    @include media-breakpoint-up(md) { // .price-headers, .price-headers-md
                        flex: 7;

                    }
                }
                .prices {
                    display: flex;
                    height: 70px;

                    .package-price, .package-discount, .package-orgPrice   {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex: 1;
                        background-color: white;
                        margin: 10px;
                        text-align: center;
                        
    
                        p {
                            color: theme-color("primary");
                            margin: 0px;
                            
                        }
    
                        @include media-breakpoint-up(md) { // .price-headers, .price-headers-md
                            flex: 1;
                        }
                    }
                    @include media-breakpoint-up(md) { // .prices
                        flex: 5;
                    }
                }

                @include media-breakpoint-up(md) { // .price-container
                    flex-direction: row;
                }
            }
        }
    }
}